@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/imgs/photo1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">الأسم</h5>
                <p class="card-text">وصف</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">القسم</li>
                <li class="list-group-item">المدة</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">رابط التسجيل</a>
            </div>
        </div>
    </div>
</div>
